body{
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#bottom-drawer {
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.1);
	top: calc(100% - 64px);
	border-top: 2px solid rgba(0,0,0,0.2);
}

.slide{
	transition: top 0.1s ease-in-out;
}